:root{
    --cor1:#F2507B;
    --cor2:#66F2B1;
    --cor3:#9BD991;
    --cor4:#F2AB6D;
    --cor5:#F27272;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}.flex{
    display: flex;
}.center{
    align-items: center;
    justify-content: center;
}
body{

    height: 100vh;
    width: 100vw;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/028/853/683/large/nicholas-cole-jordan-flgtz-rickmorty-panorama-watermarked.jpg);
    background-size: cover;
    background-position: center;
}main{
    backdrop-filter: blur(10px);
    height: 80vh;
    width: 50vw;
    border: 1px solid var(--cor5);
    border-radius: 20px;
    box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.212);

}
#ima{
    width: 25vw;
    aspect-ratio: 1;
    background-image: url(https://rickandmortyapi.com/api/character/avatar/66.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 2px solid var(--cor1);

    margin-bottom: 10px;

    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.212);
}.seta{
    cursor: pointer;
}.seta>svg{
    width: 100px;
    height: 100px;
    fill: rgba(255, 255, 255, 0.637);
}.seta:hover>svg{
    fill: white;
}#contain{
    flex-direction: column;
}input{
    width: 20vw;

    font-size: 20px;
    color: rgb(0, 209, 0);
    padding: 2px 3px;

    border-radius: 10px;
    border: 2px solid var(--cor1);
}